/* .signinpage{
  padding-top: 5%;
} */

/* Head section */
body {
  font-family: 'Baloo Tammudu 2', cursive;
}

.title {
  background-color: #93329E;
  background-image: url("background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3% 15%;
  padding-right: 10%;
  color: #fff;
}

.heading-center {
  text-align: center;
  font-size: 2rem;
  color:#440a67;
}

.heading-center-experience {
  color: #fff;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
}

.header {
  height: 30rem;
}

.aboutsection {
  color: black;
  background-color: #ffe3fe;
  padding: 5% 15%;
  text-align: center;
  height: 40rem;
  font-family: 'Baloo Tammudu 2', cursive;
}

.color {
  font-size: 3rem;
  font-family: 'Lobster', cursive;
}

.head {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  text-align: left;
}

/*Navigation Bar*/
.navbar-brand {
  font-size: 3rem;
  font-family: 'Grandstander', cursive;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size: 1rem;
  font-family: 'Lobster', cursive
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-image {
  /* width: 80%; */
  /* margin: 3rem; */
  margin-left: 20px;
  border-radius: 30px;
  transform: rotate(10deg);
  height: 30rem;
  width: 20rem;
}

.icon-dec {
  color: pink;
}

.icon-dec:hover {
  color: #fff;
}

/* Features  */
.features {
  padding: 5% 15%;
  height: 40rem;
  background-color: #e4bad4;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-certificate{
  width:40px;
  height: 30px;
  margin: 5px;
  text-align: center;
  background-color:#b300b3;
  color: #fff;
  padding: 2%;
}

.feature-text{
text-align: center;
font-size: 1.5rem;
color:#0a1931;
font-family: 'Baloo Tammudu 2', cursive;
}

.feather-links{
color: #511281;
font-size: 1.5rem;
}
.icon-feature {
  margin-bottom: 1rem;
  color: #440a67;
}


/* experience design */
.experience {
  padding: 5% 15%;
  background-color: #e4fbff;
}

.expe {
  margin-top: 20px;
}

/* end experience design  */
.cv {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-family: 'Lobster', cursive;
}

p {
  font-family: 'Grenze Gotisch', cursive;
  font-size: 1.5rem;
  color: #fff;
}

.icon {
  margin-bottom: 1rem;
  color: #b300b3;
}

.icon:hover {
  color: #660066;
}

/* Testimonials */
.testimonials {
  text-align: center;
  background-color: #f6e5e9;
  height: 35rem;
  color: #fff;
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 5%;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin-left: 15%;
  margin-right: 15%;
}

.carousel-item {
  padding: 5% 15%;
  background-color: #b300b3;
  height: 30rem;
}

.test1:hover {
  background: #660066;
}

.website-link {
  padding: 2%;
  background-color: #b300b3;
}

.website-link:hover {
  background:  #660066;
}

.press {
  background-color: #b300b3;
  text-align: center;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing, .edu {
  padding: 5% 15%;
}
.feature-skills {
  padding: 5% 15%;
}

.edu {
  background: #ac66cc;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 25rem;
  padding: 5% 15%;
  /* height: 40rem; */
  /* width: 23rem; */
  margin-top: 20px;
}

.edu:hover {
  background: #660066;
}
.pricing{
  background-color: #ffe3fe;

}
.pricing .col .card:hover i {
  color: #fff;
}

.pricing .col .card i {
  color: #660066;
  font-size: 35px;
  transition: all 0.3s ease;
}

.pricing .col .card .text {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 5px 0;
  color: #fff;
}

.pricing .col .card:hover .card-body {
  transform: scale(1.05);
}

/* cta section*/
.cta {
  color: #fff;
  background-color: #b300b3;
  padding: 5% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  margin-top: 20px;
  line-height: 1.5;
}

.footer {
  padding: 5% 15%;
  text-align: center;
}

/* contact section  */
.contact{
   padding: 5% 15%;
   background-color: #b4aee8 ;
   height: 40rem;
  align-items: center;

}
.contact-content{
  color: #000000;
  font-family: 'Lobster', cursive;
  height: 3rem;
  font-size: 2rem;


}

.footer{
  text-align: center;
  color: black;

}

/* filp card */
/* skills section */
.skill-certificate {
  padding: 5% 15%;
  background-color: #bc6ff1 ;
}

.skill-image {
  border-radius: 30px;
  height: 15rem;
  width: 15rem;
}
.skill1{
  color: #000000;
  font-size: 1.5rem;
}
.skill-certificate:hover{
  background-color: #602080;
  }

/* Media responsive  */



@media (max-width: 1104px){
  /* title */
  .title-image {
   transform: rotate(0);
   margin-right: 30px;
  align-items: center;
 }

 .title {
    text-align: center;
    height: auto;

  }
  .color {
    font-size: 3rem;
  }
/* title end */
/* about section */

.cta-heading{
  font-size: 2rem;
}
.aboutsection{
  height: 50rem;
}
.heading-center{
    font-size: 2.3rem;
}
/* about section end */
/* experience section */
.experience{
  height:
}

.skill-image{
  height: 10rem;
  width: 10rem;
}


  .head {
    text-align: center;
  }

  .header {
    height: 50rem;
  }
.nav-item {
    padding:  5px;
    font-size: 2rem;
  }
  .footer{
    padding: 1rem;
    text-align: center;
  }
  .features{
    height: 40rem;
  }
  .contact{
    height: 55rem;
  }
  .contact-content{
    height: 2rem;
      margin-bottom: 3rem;

  }
}


@media (max-width: 991px){
  .title-image {
   transform: rotate(0);
   margin-right: 30px;
   align-items: center;
 }
 .title {
    height: auto;
  text-align: center;
  }

  .aboutsection{
    height: 53rem;
  }
  .features{
    height: 75rem;
  }
  .feature-certificate{
    height: 2.5rem;
    width: 2.5rem;
  }
  .footer{
    padding: 1rem;
    text-align: center;
  }
  .contact{
    height: 50rem;
  }
  .contact-content{
    height: 2rem;
  margin-bottom: 3rem;
  }
  .small{
    font-size: 1.5rem;
  }
  .pricing, .edu{
    height: auto;
  }
}



@media (max-width: 690px){
  /* .title-image {
   transform: rotate(0);
   margin-right: 30px;
   align-items: center;
 } */
 .aboutsection{
   height: 60rem;
 }
 .small{
   font-size: 1.5rem;
 }
 .title {
    text-align: center;
    height: auto;

  }

}
@media (max-width: 500px){
  .aboutsection{
    height: 75rem;
  }

  .title {
     text-align: center;
     height: auto;

   }
   .title-image {
    transform: rotate(0);
    margin-right: 30px;
    align-items: center;
  }

  }
}
